/* latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweathersans/v26/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjXp8Bte.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

/* latin */
@font-face {
  font-family: 'Mallanna';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/mallanna/v13/hv-Vlzx-KEQb84YaDFw0GTVSVeJ_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;

}

@font-face {
  font-family: FontAwesome;
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fa-user:before {
  content: "\f007"
}

.fa-chevron-left:before {
  content: "\f053"
}

.fa-chevron-right:before {
  content: "\f054"
}

.thumbnail,
body {
  line-height: 1.42857143
}

.center,
.slidering h4 {
  text-align: center
}

.callbacks_nav,
html {
  -webkit-tap-highlight-color: transparent
}

.callbacks,
.callbacks_nav,
.carouselInner,
.rslides,
.sr-only {
  overflow: hidden
}

.copyright p,
.profileInfo h4,
.textInfo h3,
h3.title,
p {
  letter-spacing: 1px
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none
}

a:active,
a:hover {
  outline: 0
}

img {
  border: 0;
  vertical-align: middle
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  color: #333
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline
}

.callbacks_nav,
a:hover,
body a {
  text-decoration: none
}

a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%
}

.imgResponsive,
.thumbnail>img {
  display: block;
  width: 100% !important;
  height: auto !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.carousel,
.carouselInner,
.carouselInner>.item,
.contact,
.fellowshipPrew,
.header,
.schedule {
  position: relative
}

.logo {
  width: 350px;
  height: 73px;
}

.container,
.thumbnail a>img,
.thumbnail>img {
  margin-right: auto;
  margin-left: auto
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

.textInfo {
  color: #31708f
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee
}

.container {
  padding-right: 15px;
  padding-left: 15px
}

.callbacks1_nav {
  top: 75%
}

@media (min-width:768px) {
  .container {
    width: 750px
  }

  .col3,
  .profileInfo {
    float: left
  }

  .profileInfo {
    width: 75%
  }

  .col3 {
    width: 25%
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }

  .col-md-8,
  .slidering {
    float: left
  }

  .col-md-8 {
    width: 66.66666667%
  }

  .slidering {
    width: 25%
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%
  }
}

@media (min-width:1200px) {
  .container {
    width: 1175px
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.col-md-8,
.col3,
.profileInfo,
.slidering {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.bannerImage {
  min-height: 800px;
  background-position: center !important
}

.slidering {
  float: left;
  width: 25%
}

.thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
  border-color: #337ab7
}

.thumbnail .caption {
  padding: 9px;
  color: #333
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0
}

.carouselInner,
.popupImage {
  width: 100%
}

.carouselInner>.item {
  display: none;
  -webkit-transition: left .6s ease-in-out;
  -o-transition: left .6s ease-in-out;
  transition: left .6s ease-in-out
}

.carouselInner>.item>a>img,
.carouselInner>.item>img {
  line-height: 1
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carouselInner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000
  }

  .carouselInner>.item.active.right,
  .carouselInner>.item.next {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }

  .carouselInner>.item.active.left,
  .carouselInner>.item.prev {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }

  .carouselInner>.item.active,
  .carouselInner>.item.next.left,
  .carouselInner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

.callbacks_tabs li,
.carouselInner>.active,
.carouselInner>.next,
.carouselInner>.prev,
.resp-tab-content-active,
ol.carousel-indicators.two {
  display: block
}

.carouselInner>.active,
.carouselInner>.next.left,
.carouselInner>.prev.right {
  left: 0
}

.carouselInner>.next,
.carouselInner>.prev {
  position: absolute;
  top: 0;
  width: 100%
}

.carouselInner>.active.right,
.carouselInner>.next {
  left: 100%
}

.carouselInner>.active.left,
.carouselInner>.prev {
  left: -100%
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  opacity: .5
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-repeat: repeat-x
}

.carousel-control.right {
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-repeat: repeat-x;
  right: -66px
}

.carousel-control:focus,
.carousel-control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none
}

.topBar,
h6 {
  z-index: 999
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff
}

@media screen and (min-width:768px) {
  .carousel-indicators {
    bottom: 20px
  }
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " "
}

.clearfix:after,
.container:after,
.row:after {
  clear: both
}

body,
html {
  margin: 0;
  font-size: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  background: #fff
}

body a {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: inherit;
  margin: 0;
  font-weight: 400;
  font-family: Mallanna, sans-serif
}

p {
  font-size: 18px;
  color: black;
  line-height: 2em
}

p,
ul,
ul.resp-tabs-list {
  margin: 0;
  padding: 0
}

.icon {
  width: 100px;
  height: 100px;
  margin: 50px 20px 0
}

.topBar {
  position: absolute;
  width: 95%;
  top: 4%;
  left: 3%
}

h6 {
  margin: 0 auto
}

.rslides li:first-child .bannerImage {
  background: url(../images/banner/1.webp) 0 0/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover
}

.rslides li:nth-child(2) .bannerImage {
  background: url(../images/banner/2.webp) 0 0/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover
}

.rslides li:nth-child(3) .bannerImage {
  background: url(../images/banner/3.webp) 0 0/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover
}

.rslides li:nth-child(4) .bannerImage {
  background: url(../images/banner/4.webp) 0 0/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover
}

.bannerText {
  text-align: left;
  padding: 16em 5em 0 4em;
  width: 60%
}

.callbacks,
.callbacks_tabs,
.rslides {
  padding: 0;
  list-style: none
}

.bannerText h3 {
  font-size: 5em;
  letter-spacing: 1px;
  text-shadow: 0 2px 12px rgba(0, 0, 0, .42);
  margin-bottom: .2em;
  color: #fff
}

.callbackContainer {
  position: relative;
  float: left;
  width: 100%
}

.callbacks {
  position: relative;
  width: 100%;
  margin: 0
}

.callbacks li {
  position: absolute;
  width: 100%
}

.callbacks_nav {
  position: absolute;
  bottom: 17%;
  left: 40px;
  opacity: .9;
  z-index: 3;
  text-indent: -9999px;
  height: 44px;
  width: 44px;
  background: url(../images/icon/left.png) no-repeat #fff
}

.rslides,
.rslides li {
  width: 100%;
  position: relative
}

.callbacks_nav.next {
  background: url(../images/icon/right.png) 6px 6px no-repeat #fff;
  left: 120px
}

.callbacks_nav.prev {
  background: url(../images/icon/left.png) 6px 6px no-repeat #fff;
  left: 70px
}

.rslides li {
  -webkit-backface-visibility: hidden;
  left: 0;
  top: 0;
  display: block;
  float: left
}

.callbacks_tabs {
  position: absolute;
  top: 44%;
  right: 4%;
  margin: 0;
  display: block;
  z-index: 99
}

.about,
.contentCard,
.schedule {
  padding: 7em 0
}

.callbacks_tabs a {
  visibility: hidden
}

.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  margin: 0
}

.callbacks_here a:after {
  background: #00a78e;
  margin: 0;
  height: 12px;
  width: 12px
}

h3.title {
  font-size: 3.5em;
  color: #262c38;
  font-weight: 400
}

.aboutContent {
  text-align: center;
  margin: 0 auto;
  width: 60%
}

.aboutContent p {
  margin: 2em 0
}

.aboutContent h3 {
  line-height: 1.3em
}

.tabList,
.topics {
  background: #ffc845
}

.grey {
  background: #f8f9fa !important
}

.fellowshipPrew {
  background: url(../images/invite/fellowship.webp) 0 0/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 500px;
  width: 500px;
  margin: 0 auto
}

@media(min-width:992px) {
  .wedo-main {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
}

.fellowshipPrew,
.fellowshipSchedule {
  flex-basis: 48%;
  -webkit-flex-basis: 48%
}

h4.subTitle {
  font-size: 2em;
  line-height: 1.4em;
  margin: 0 0 .6em
}

.fellowshipSchedule p {
  margin-bottom: .5em
}

.content {
  margin-top: 4em
}

.fellowshipSchedule,
.profileInfo {
  text-align: left
}

.carousel {
  margin-bottom: 0;
  padding: 0
}

.carousel-control {
  left: -66px;
  height: 40px;
  width: 40px;
  background: 0 0;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: 110px;
  color: #000;
  box-shadow: none;
  background-image: none !important;
  opacity: .9;
  line-height: 34px
}

.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
  display: none
}

.slider {
  margin-top: 2em
}

.slidering h4 {
  font-size: 1.2em;
  color: #333;
  margin: 1em 0;
  font-weight: 600
}

.thumbnail {
  max-width: 100%;
  display: block;
  padding: 4px;
  margin-bottom: 0
}

.textInfo h3 {
  font-size: 2em;
  font-weight: 700;
  color: #222;
  margin-bottom: .3em
}

.carousel.slide.two .item {
  background: 0 0 !important
}

.tesimonials {
  padding: 7em 0;
  background: #fff
}

#quoteCarousel {
  padding: 0 10px 30px;
  margin-top: 30px
}

#quoteCarousel .carousel-indicators {
  left: 34%;
  top: auto;
  bottom: -26px;
  margin-right: -19px
}

#quoteCarousel .carousel-indicators li {
  background: #e7c8c9;
  width: 12px;
  height: 12px;
  margin: 0 2px
}

#quoteCarousel .carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background: #ee4f4f;
  border: 1px solid #ee4f4f
}

.item blockquote {
  border-left: none;
  margin: 0
}

.item blockquote p:before {
  content: "\f10d";
  font-family: Fontawesome;
  float: left;
  margin-right: 10px;
  color: #00a78e;
  font-size: 2em
}

.profileInfo p {
  color: black;
  margin-bottom: 1em
}

.profileInfo h4 {
  color: #00a78e;
  font-size: 21px !important;
  font-weight: 900 !important;
  margin-bottom: 2em;
}

@media (min-width:768px) {
  #quoteCarousel {
    margin-bottom: 0;
    padding: 0 40px 30px
  }
}

.contact {
  padding: 4em 0
}

.copyright {
  background: #202020;
  padding: 1em 3em
}

.copyright p {
  color: #fff;
  font-size: 18px
}

@media(max-width:1680px) {
  .bannerImage {
    min-height: 700px;
    background-size: cover;
    background-position: center
  }

  .bannerText {
    text-align: left;
    padding: 16em 5em 0 4em;
    width: 80%
  }
}

@media(max-width:1440px) {

  .about,
  .contentCard,
  .schedule {
    padding: 5em 0
  }

  h3.title {
    font-size: 3em
  }
}

@media(max-width:1366px) {
  .bannerImage {
    min-height: 660px;
    background-size: cover;
    background-position: center
  }

  .bannerText {
    text-align: left;
    padding: 14em 5em 0 4em;
    width: 80%
  }

  .aboutContent {
    margin: 0 auto;
    width: 78%
  }

  .bannerText h3 {
    font-size: 4.5em
  }

  h4.subTitle {
    font-size: 1.6em
  }
}

@media(max-width:1280px) {
  .bannerImage {
    min-height: 530px;
    background-size: cover;
    background-position: center
  }

  .carousel-control.right {
    right: -30px
  }

  .carousel-control.left {
    left: -30px
  }

  .imageContainer {
    max-width: 500px !important;
    width: 100% !important
  }
}

@media(max-width:1080px) {

  .about,
  .contact,
  .contentCard,
  .schedule,
  .tesimonials {
    padding: 4em 0
  }

  .bannerImage {
    min-height: 500px;
    background-size: cover
  }

  .bannerText {
    text-align: left;
    padding: 14em 5em 0 2em;
    width: 85%
  }

  .callbacks_nav.prev {
    left: 34px
  }

  .callbacks_nav.next {
    left: 85px
  }

  .bannerText h3 {
    font-size: 4em
  }

  .content {
    margin-top: 3em
  }

  .slidering h4 {
    font-size: 1.1em
  }
}

@media(max-width:1050px) {
  .carousel-control.right {
    right: 3px
  }

  .carousel-control.left {
    left: 6px
  }
}

@media(max-width:991px) {
  .bannerImage {
    min-height: 430px;
    background-size: cover
  }

  .fellowshipSchedule {
    text-align: left;
    margin-top: 1em
  }

  .slidering h4 {
    font-size: .9em
  }

  .carousel-control {
    margin-top: 66px
  }

  .aboutContent {
    margin: 0 auto;
    width: 90%
  }
}

@media(max-width:800px) {
  .bannerText {
    padding: 12em 5em 0 2em;
    width: 85%
  }

  .bannerImage {
    min-height: 442px;
    background-size: cover
  }

  .bannerText h3 {
    font-size: 3.5em
  }

  .imageContainer {
    max-width: 500px !important
  }
}

@media(max-width:768px) {
  .bannerImage {
    min-height: 423px;
    background-size: cover
  }

  h3.title {
    font-size: 2.8em
  }

  .copyright {
    padding: 1em
  }

  #quoteCarousel .carousel-indicators {
    bottom: -20px !important
  }

  #quoteCarousel .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px
  }

  #quoteCarousel .carousel-indicators li.active {
    margin: 0 5px;
    width: 20px;
    height: 20px
  }

  h2.resp-accordion {
    font-size: 17px;
    border: 1px solid #ffc845;
    border-top: 0 solid #ffc845;
    margin: 0;
    padding: 15px;
    background: #222 !important;
    color: #fff
  }

  h2.resp-accordion.tabList.resp-tab-active {
    background-color: #00a78e !important
  }

  .resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
    border: 1px solid #f5f5f5;
    border-color: #f5f5f5 !important;
    border-left: 4px solid #f5f5f5 !important;
    background-color: #f58025 !important;
    color: #fff
  }

  .resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
    border-top: 1px solid;
    border: 1px solid #ccc !important;
    border-left: 4px solid #f58025 !important;
    margin-bottom: 4px !important;
    border-right: 1px solid #fff !important;
    background-color: #08538c !important
  }
}

@media(max-width:736px) {
  .bannerImage {
    min-height: 355px;
    background-size: cover
  }

  .bannerText {
    padding: 10em 5em 0 2em;
    width: 85%
  }

  .carousel-control {
    margin-top: 340px
  }

  .slidering {
    width: 50% !important
  }
}

@media(max-width:667px) {
  .bannerImage {
    min-height: 366px;
    background-size: cover
  }

  .bannerText h3 {
    font-size: 3.2em
  }

  .profileInfo {
    text-align: left;
    margin-top: 1em
  }

  #quoteCarousel .carousel-indicators {
    left: 15%
  }

  .textInfo h3 {
    font-size: 1.6em
  }

  .slidering h4 {
    font-size: 1em
  }

  .carousel-control {
    margin-top: 310px
  }

  h3.title {
    font-size: 2.6em
  }

  .about,
  .contact,
  .contentCard,
  .schedule,
  .tesimonials {
    padding: 3em 0
  }

  .imageContainer {
    max-width: 480px
  }
}

@media(max-width:640px) {
  .bannerImage {
    min-height: 351px;
    background-size: cover
  }

  .bannerText h3 {
    font-size: 3em
  }

  .copyright p {
    margin: 1em 0 0;
    float: none;
    text-align: center
  }
}

@media(max-width:600px) {
  .bannerImage {
    min-height: 329px;
    background-size: cover
  }

  .bannerText h3 {
    font-size: 2.8em
  }
}

@media(max-width:568px) {

  .bannerText h3,
  h3.title {
    font-size: 2.2em
  }

  .bannerImage {
    min-height: 311px;
    background-size: cover
  }

  .bannerText {
    padding: 9em 5em 0 2em;
    width: 92%
  }

  h4.subTitle {
    font-size: 1.5em
  }

  .content {
    margin-top: 2em
  }

  .imageContainer {
    margin: 0 30px
  }
}

@media(max-width:480px) {
  .carousel-control {
    margin-top: 206px
  }

  .bannerImage {
    min-height: 270px;
    background-size: cover
  }

  .fellowshipPrew {
    min-height: 450px;
    width: 450px
  }

  .profileInfo {
    text-align: left;
    margin-top: 1em;
    padding: 0
  }
}

@media(max-width:414px) {
  .logo {
    width: 280px;
    height: 58px;
  }

  .bannerImage {
    min-height: 200px;
    background-size: cover
  }

  .resp-tab-content {
    padding: 20px
  }

  .bannerText {
    padding: 7em 5em 0 1em;
    width: 99%
  }

  .callbacks_nav.prev {
    left: 17px
  }

  .callbacks_nav.next {
    left: 65px
  }

  .fellowshipPrew {
    min-height: 384px;
    width: 384px
  }

  .callbacks_here a:after,
  .callbacks_tabs a:after {
    height: 10px;
    width: 10px;
    margin: 0
  }

  .carousel-control {
    margin-top: 174px
  }

  blockquote {
    padding: 10px 0
  }

  .callbacks_tabs {
    top: 37%;
    right: 4%
  }

  .bannerText h3,
  h3.title {
    font-size: 2em
  }

  .aboutContent {
    margin: 0 auto;
    width: 95%
  }

  .icon {
    width: 80px;
    height: 80px;
    margin: 20px 20px 0
  }
}

@media(max-width:384px) {
  .bannerText h3 {
    font-size: 1.8em
  }

  .fellowshipPrew {
    min-height: 354px;
    width: 354px
  }

  .callbacks_nav {
    bottom: 13%
  }

  .slidering h4 {
    font-size: .8em
  }

  .icon {
    width: 80px;
    height: 80px;
    margin: 10px 10px 0
  }
}

@media(max-width:375px) {
  .bannerText {
    padding: 6.5em 5em 0 1em;
    width: 99%
  }

  h3.title {
    font-size: 1.8em
  }

  .about,
  .contact,
  .contentCard,
  .schedule,
  .tesimonials {
    padding: 2.5em 0
  }

  .fellowshipPrew {
    min-height: 345px;
    width: 345px
  }

  h4.subTitle {
    font-size: 1.3em
  }
}

@media(max-width:320px) {
  .bannerText {
    padding: 6em 5em 0 1em;
    width: 100%
  }

  .bannerText h3 {
    font-size: 1.45em
  }

  .logo {
    width: 250px;
    height: 52px;
  }

  .bannerImage {
    min-height: 180px;
    background-size: cover
  }

  .carousel-control {
    margin-top: 135px
  }

  .slidering {
    width: 50% !important
  }

  .fellowshipPrew {
    min-height: 290px;
    width: 290px
  }

  .icon {
    width: 80px;
    height: 80px;
    margin: 5px 5px 0
  }
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 15px;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
  float: left
}

.resp-tabs-container {
  padding: 0;
  background-color: #fff;
  clear: left
}

.resp-tab-content {
  display: none;
  padding: 0 30px;
  border: 1px solid #c1c1c1;
  border-top-color: #5ab1d0
}

.resp-tab-active {
  border: 1px solid #5ab1d0 !important;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px !important;
  border-bottom: 0 solid #fff !important;
  border-top: 4px solid #07ad94 !important;
  background-color: #fff
}

h2.resp-accordion {
  cursor: pointer;
  display: none;
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0 solid #c1c1c1;
  margin: 0;
  padding: 10px 15px
}

h2.resp-tab-active {
  border-bottom: 0 solid #c1c1c1 !important;
  margin-bottom: 0 !important;
  padding: 10px 15px !important;
  background: #dbdbdb
}

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
  margin-top: 0 !important;
  min-height: 400px
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 30px !important;
  cursor: pointer;
  float: none;
  list-style: none;
  border: 1px solid #f5f5f5;
  border-color: #f5f5f5 !important;
  background: #222 !important;
  color: #fff;
  margin-bottom: 4px !important
}

.resp-vtabs .resp-tabs-container {
  padding: 0;
  background-color: #fff;
  border: none;
  float: left;
  width: 70%;
  border-radius: 0;
  clear: none;
  min-height: 400px
}

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word
}

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  padding: 30px !important;
  border-top: 1px solid;
  border: 1px solid #ccc !important;
  margin-bottom: 4px !important;
  border-right: 1px solid #fff !important;
  background-color: #16b69e !important;
  color: black;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #cc9513
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #0a7b6a
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1
}

@media only screen and (max-width:991px) {
  .resp-vtabs .resp-tabs-list li {
    padding: 15px 13px !important
  }

  .resp-tabs-list li {
    font-size: 18px
  }
}

@media only screen and (max-width:768px) {
  ul.resp-tabs-list {
    display: none
  }

  h2.resp-accordion {
    display: block
  }

  .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none
  }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important
  }

  .resp-tab-content {
    padding: 20px 30px
  }

  .resp-vtabs .resp-tabs-list li {
    background: #000 !important
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999
}

.imageContainer {
  position: relative;
  max-width: 500px;
  width: 100%
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center
}

.closeButton::after,
.closeButton::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #fff
}

.closeButton::before {
  transform: rotate(45deg)
}

.closeButton::after {
  transform: rotate(-45deg)
}

.callbacks1_tabs {
  top: 35%
}
